body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
}
nav a {
  text-decoration: none;
  background-color: blue;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
}
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}

figure {
  width: 300px;
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}

footer {
  width: 100vw;
  /* position: absolute; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer span {
  background-color: red;
  padding: 5px 10px;
  border-radius: 4px;
}

footer span a {
  text-decoration: none;
  color: white;
}
footer a {
  text-decoration: none;
}
