:root {
  --primary-color: #64ccc5;
  --second-color: #053b50;
  --third-color: #eeeeee;
  --fourth-color: #176b87;
}

html {
  scroll-behavior: smooth; /* comportamento do scroll: suave */
  font-family: Arial, Helvetica, sans-serif;
}

/* 
#93B1A6

#5C8374

#183D3D

#040D12 
*/

body {
  background-color: var(--second-color);
  margin: 20px 50px;
  text-align: justify;
}

h1 {
  line-height: 2;
  font-weight: bold;
  font-size: 22pt;
}

/* Estilização Header */
.logo {
  color: var(--third-color);
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  text-transform: uppercase;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  display: flex;
  column-gap: 25px;
  list-style: none;
}

.cabecalho::after {
  content: " ";
  position: absolute;
  margin-top: 40px;
  height: 2px;
  width: 800px;
  background-color: var(--third-color);
}

/* Estilização página */
.titulo-de-pagina {
  color: var(--primary-color);
  line-height: 2;
  font-weight: bold;
  font-size: 22pt;
}

.titulo-de-artigo {
  color: var(--primary-color);
  line-height: 1.8;
  font-weight: bold;
  font-size: 18pt;
}

.titulo-de-secao {
  color: var(--primary-color);
  line-height: 2;
  font-weight: bold;
  font-size: 18pt;
}

.subtitulo-de-artigo {
  color: var(--fourth-color);
  line-height: 1.5;
  font-weight: bold;
  font-size: 14pt;
  font-style: italic;
}

p {
  color: var(--third-color);
  line-height: 1.2;
  font-size: 12pt;
}

article {
  margin: 20px 30px;
  padding: 15px 20px;
  border:4px solid var(--primary-color);
  border-radius: 20px 0 20px 0;
}

.paragrafo {
  background-color: var(--fourth-color);
  padding: 15px 20px;
}

/* Estilização Footer */
footer {
  margin: 50px 10px;
}
